@model MvcUploadFile.Models.Employee

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeeId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <input asp-for="Role" class="form-control" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <hr />
</div>

<div class="row">
  
    <table class="table table-striped table-bordered table-responsive-sm">
        <thead>
            <tr>
                <th scope="col">Filename</th>
                <th scope="col">Size</th>
                <th scope="col">File Type</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (EmployeeAttachment item in Model.EmployeeAttachments)
            {
            <tr>
                <td>@item.AttachmentName</td>
                <td>@item.ContentLenght</td>
                <td>@item.ContentType</td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm">Delete</button>
                    <button type="button" class="btn btn-primary btn-sm">View</button>
                    <button type="button" class="btn btn-secondary btn-sm">Download</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
        
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
