<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <connectionStrings>
    <add name="DataContextUpload" connectionString="Server=localhost;Database=Company;User Id=sa;Password=123456;"/>
  </connectionStrings>
</configuration>
